body {
  background-color: white;
  font-family: sans-serif;
}

.wrapper {
  width: 240px;
  height: 240px;
  border: 1px solid black;
  position: relative;
  overflow: hidden;
  padding: 5px;
}

.box {
  background: red;
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: center;
  line-height: 100px;
  color: white;
}